body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: rgb(103, 72, 155);
    text-align: center;
    padding: 20px;
}

.movieGene{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    padding: 5px;
    margin: 5px;
    background-color: #ff4473;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.507);
}

h1, h2 {
    color: white;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    color: white;
}


#movieDisplay{
    color: white;
}