<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Random Movie Picker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Random Movie Picker</h1>
<!-- Spacer -->
    <!-- Button to pick a random movie -->
    <button id="randomMovieBtn">Pick a Random Movie</button>
    <p id="movieDisplay"></p>
<!-- Spacer -->
    <!-- Form to add a new movie -->
    <h2>Add a Movie</h2>
    <form id="addMovieForm">
        <input type="text" id="movieInput" placeholder="Enter movie name">
        <button type="submit">Add Movie</button>
    </form>
    <p id="addMovieResponse"></p>
<!-- Spacer -->
    <!-- List of movies -->
    <h2>List of Movies</h2>
    <ul id="movieList">
        {% for movie in movies %}
            <li>{{ movie }}</li>
        {% endfor %}
    </ul>
<!-- Spacer -->
    <!-- Link to the external JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
